body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#countries-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.flag{
  height: 150px;
  width: 100%;
}
article{
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.floatFlag{
  width: 15px;
  height: 15px;
}

.FlagFloat{
  position: absolute;
  position:sticky;/*Hace que la bandera quede fijada en el centro de la pantalla un haciendo scroll, para mejorarlo lo se puede crear un position*/
  left: 40%;
  top: 40%;
  background-color: rgb(221, 218, 63);
}

ul{
  list-style: none;
}